.toggle-btn{
    background-color: black;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}
.toggle-btn:hover{
    background-color: rgb(194, 169, 30);
}
.dark{
    background-color: black;
    color: white;
}
.dark .toggle-btn{
    background-color: white;
    color: black;
}
